# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!.config 	
!.bashrc 	
!.inputrc 	
!.myclirc 	
!.tmux.conf 	
!.vimrc
!.zshrc
!.vim/snippets/
!scripts/
!.bash_profile
