"\C-l":clear-screen
set colored-stats on

# cycle forward
Control-k: menu-complete
# cycle backward
Control-j: menu-complete-backward

# bind alt + e
"\ee":"my_"
# bind alt + p
"\ep":"myp_"
# bind alt + s
"\es":"my_selector"



